body {
    font-family: "Noto Sans JP","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro W6", "Noto Sans JP", "メイリオ","Meiryo",Arial, sans-serif;
    /* font-family: "Yu Mincho", "游明朝", "游明朝体", " Hiragino Mincho ProN", "ヒラギノ明朝 ProN", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro", "MS Mincho", "ＭＳ 明朝", " MS PMincho", "ＭＳ Ｐ明朝", "Sawarabi Mincho"; */
    /* font-family: 'Roboto', sans-serif; */
    background-color: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}
.logo　hidden-sp{
    left: 30px;
    top: 30px;
    position: absolute;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    
}
.header_links {
    width: 100%;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: inherit;
}
a {
    background-color: transparent;
}
.header_links ul {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.hidden-sp {
    display: block;
}
.header_links ul li {
    margin-left: 40px;
}
.header_links ul li a {
    display: inline-block;
}
ul li {
    list-style: none;
}
.header_btn {
    background: transparent;
}
.appoint-btn {
    width: 60px;
    height: 60px;
    display: block;
    color: #fff;
    background: #977119;
    font-size: 12px;
    margin: 5px;
}
.appoint-btn {
    text-align: center;
    padding-top: 8px;
    margin-right: auto;
    
}
img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 100%;
}
img {
    border-style: none;
}
.menu-trigger {
    display: block;
    transition: all .4s;
    box-sizing: border-box;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background: #977119;
    position: relative;
}
.menu-trigger span:nth-of-type(1) {
    top: 35px;
}
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    background: #fff;
    width: 20px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
}
.menu-trigger span:nth-of-type(2) {
    top: 0;
    bottom: 0;
}
.menu-trigger span:nth-of-type(3) {
    bottom: 35px;
}
.g-nav .list {
    margin-top: 90px;
    padding: 20px;
}
.g-nav .list li {
    text-align: center;
}
ul li {
    list-style: none;
}
.sp-logo {
    display: none;
}
.g-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #e1dad4;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.visible-sp {
    display: block;
}
header {
    position: relative;
    z-index: 2;
}

footer {
    margin-bottom: 0;
}
footer {
    background-color: #e1dad4;
    color: #333;
    padding: 50px 0 !important;
}
.fixedcontainer {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
}
.hgroup {
    color: #8e7757;
}
.hgroup {
    padding: 32px 0;
    color: #8e7757;
    font-family: DidotLTPro-Bold;
    text-align: center;
    position: relative;
}
.article{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
.subttl {
    font-size: 50%;
    font-family: DidotLTPro-Bold;
}
.shop{
    margin-bottom: 30px;
}
dl {
    margin: 0 15px;
    font-size: 75%;
    line-height: 1.8;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
dt {
    color: #7a6b58;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
dd{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
.map_area {
    margin-top: 15px;
}
footer {
    padding-bottom: 20px;
    color: #8e7757;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
ul{
    list-style: none;
}
footer_nav ul li {
    border-bottom: 1px solid #d8d2ca;
    font-family: DidotLTPro-Bold;
    letter-spacing: 1px;
}
footer_nav ul li a {
    padding: 20px 0;
    color: #8e7757;
    display: block;
    font-size: 87.5%;
    text-align: center;
    text-decoration: none;
}
.footer-logo {
    padding: 30px 0;
    text-align: center;
}
.img {
    vertical-align: bottom;
    font-size: 0;
    line-height: 0;
    -ms-interpolation-mode: bicubic;
}
.copyright {
    font-size: 50%;
    font-family: DidotLTPro-Bold;
    line-height: 1.6;
    text-align: center;
}
footer {
    padding-bottom: 20px;
    color: #8e7757;
}