@charset "UTF-8";

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W6", "Noto Sans JP", "\30E1\30A4\30EA\30AA", "Meiryo", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

.chart h2{
  font-size:24px;
}


.example {
  font-size: 12px;
}
.chart-notice{
  padding: 5px; 
  border: solid 1px;
  margin:30px 0;
}
.form-check{
  margin: 15px 0; 
}
.chart-notice h1{
  font-size:24px;
  text-align: center;
}