body{
    color: #8e7757;
    background-color: #fff;
}
/*スライダー*/
.aboutSlider-titleGroup {
    margin-bottom: 35px;
}
.aboutSlider-titleGroup .title:first-child {
    margin-bottom: 10px;
}
.aboutSlider-h1 {
    font-family: "Noto Sans JP","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ヒラギノ角ゴ Pro W6", "Noto Sans JP", "メイリオ","Meiryo",Arial, sans-serif;
    letter-spacing: .1em;
}
.aboutSlider-information p:last-child {
    margin-bottom: 0;
}
.aboutSlider-information p {
    font-family: YuGothic,"游ゴシック","ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",ArialMT,Meiryo,Osaka,"ＭＳ Ｐゴシック",MS P Gothic,sans-serif;
    font-size: 116.667%;
    line-height: 2;
    margin-bottom: 25px;
    letter-spacing: .1em;
}
.aboutSlider-text {
    position: relative;
    color: #fff;
    z-index: 101;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
/*スライダー*/
/*メニュー*/
.menu-in{
    width: 94%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.menu-in h1{
    text-align: center;
    padding: 50px 0 20px 0;
}
@media only screen and (min-width: 800px)
{
.col3 {
    text-align: center;}
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 800px)
{
.col3 li {
    display: inline-block;
    width: 30%;
    padding: 0 2%;
    margin-bottom: 0;
    vertical-align: top;
    text-align: left;}
}
.col3 li {
    margin-bottom: 50px;
    text-align: center;

}
@media only screen and (max-width: 1199px)
{
.menu-in h2 {
    padding: 50px 0 20px 0;}
}
.menu-in h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}
.col3 img {
    max-width: 288px;
    display: block;
    margin: -5px auto 20px;
    width: 100%;
    height: auto;
}
.col3 p{
    margin: 0;
    padding: 0;
}
/*メニュー*/
/*ロケーション*/
.location{
    background-color: #fff;
    position: relative;
    z-index: 100;
    padding: 100px 0 0;
}
h3{
    font-family: DidotLTPro-Bold,YuMincho,"游明朝",Hiragino Mincho ProN,"ＭＳ 明朝",serif;
    font-size: 416.667%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: .1em;
}
h4{
    font-family: DidotLTPro-Bold,YuMincho,"游明朝",Hiragino Mincho ProN,"ＭＳ 明朝",serif;
    font-size: 133.333%;
    text-align: center;
    margin-bottom: 60px;
    letter-spacing: .07em;
}
.location-mapArea {
    position: relative;
    width: 100%;
    padding: 0px;
    text-align: center;
}
/*ロケーション*/
