.match-ttl{
  color:#964A0C;
}
.question{
  color:#964A0C;
  font-size:20px;
}

.choose_box{
  padding: 50px 30px;
  text-align: center;
  padding-top:100px;
}
.d-grid ul{
  display: flex;
  flex-direction: column;;
  color: #fff;
  margin: 50px 50px;
}
.d-grid li{
  background-color: #CF9F79;
  color:#fff;
  margin: 6px 4px;
  padding: 15px 30px;
  border-radius: 6px;
}
.card{
  padding: 10px 10px;
  margin: 10px 10px;
}
