@charset "UTF-8";

/*スタッフ画像*/

.staff-photo {
  float: left;
  margin: 0 15px 15px 0;
  /*display: inline-block;*/
}

/*スタッフ自己紹介*/

.profile {
  float: right;
  width: 410px;
  margin-bottom: 40px;
}

